<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - Buy Ticket></title>
  </head>
  <body>
    <center><h1>Buy Ticket</h1></center>
    <p>
      LIST CHOSEN TIME HERE
    </p>
    <form method = "post">
      <p>
        choose your tickets here
      </p>
      <p>
        enter your credit card info HERE
      </p>
      <right><button type = "submit" formaction = "/confirm">Submit</button></right>
    </form>
  </body>
</html>
