<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - Confirmation></title>
  </head>
  <body>
    <form method = "post">
      <p>
        Your Confirmation ID is: ~var~
      </p>
      <right><button type = "submit" formaction = "/home">Back to Home</button></right>
    </form>
  </body>
</html>
