<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - Home</title>
  </head>
  <body>
    <h1><center>Now Playing</center></h1>
    <div>
      <p>My Profile</p>
    </div>
    <h3>
      THIS IS WHERE THE MOVIE TABLE WILL BE STORED
    </h3>
  </body>
</html>
