<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - Me</title>
  </head>
  <body>
    <h1><center>Me</center></h1>
    <div>
      <p>My Profile</p>
    </div>
    <center>
      <h4>My Order History</h4>
      <h4>My Payment Information</h4>
      <h4>My Preferred Theatre</h4>
    </center>
    <form>
      <center><button type = "submit" formaction = "/home">Back</button></center>
    </form>
  </body>
</html>
