<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - Search></title>
  </head>
  <body>
    <center><h1>Results</h1></center>
    <p>
    SEARCH RESULTS GO HERE
    </p>
    <form method = "post">
      <input type="checkbox" name="save" value="save">Save Theatre
      <br>
      <button type = "submit" formaction = "/time">Next</button>
    </form>
  </body>
</html>
